*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items:center;
  background: #250101;
  /* justify-content: center; */
  height: 100vh;
}
.container{
  display: flex;
  align-items: center;
  width: 900px;
  width: 100%;
  margin:1.5rem ;
}
#green-box,#orange-box,#yellow-box {
  width: 100px;
  height: 100px;
  margin: 50px;
}
#green-box{
  background: #2dd403;
}
#orange-box{
  background: #ff6600;
}
#yellow-box{
  background: #eeff00;
}